.rbc-header {
  padding: 0px;
  border-bottom: none;
}

.rbc-header + .rbc-header {
  border: none;
}

.rbc-month-view {
  border: none;
}

.remove-calendar-gridlines .rbc-month-view .rbc-row-segment + .rbc-row-segment {
  border: none !important;
}

.remove-calendar-gridlines .rbc-month-view .rbc-day-bg + .rbc-day-bg {
  border: none !important;
}

.remove-calendar-gridlines .rbc-month-view .rbc-row + .rbc-row {
  border: none !important;
}

.remove-calendar-gridlines .rbc-month-view .rbc-day-bg {
  border: none !important;
}

.rbc-month-row {
  border: 1px solid black;
  padding-left: 2px;
}

.rbc-month-view .rbc-day-bg {
  border-right: 1px solid black !important;
  padding-left: 2px;
}

.rbc-row {
  text-align: center;
}

.remove-border-bottom .rbc-date-cell {
  border-bottom: none !important;
}

.rbc-date-cell {
  text-align: right;
  font-size: x-small;
  font-family: var(--font-montserrat);
}

@media only screen and (min-width: 1024px) {
  .rbc-date-cell {
    font-size: small;
  }
}

@media only screen and (min-width: 1536px) {
  .rbc-date-cell {
    font-size: large;
  }
}

.rbc-row-segment {
  max-height: 1vh;
}
